h1{color: #704116}
/* esto es un comentario */
summary {color: #704116}

body{background-image:url("./images/WhatsApp\ Image\ 2022-01-11\ at\ 17.54.02\ \(7\).jpeg"), 
    url("./images/atardecer\ ovejas\ 2.jpeg");
    background-size: cover;
    background-repeat: no-repeat, repeat;
    margin: 0;
    height: 100vh;
/* ver en youtube fuentes (units) y como manejarlas*/}
#Entrada-a-la-ventura{width: 10%; height:10%}
#mail {width:5%; height: 10%;
  position: fixed; 
  bottom:30px ; 
  right:20px  }
#ModeloDeCaja{
  background-color: #EFDED5;
  width: 300px;
  border: 10px solid #704116;
  padding: 50px;
  margin: 20px;
}

header { background-color:#EFDED5;
  list-style-type: none ;
  position: sticky;
  position: -webkit-sticky;
  top:0%;
  height: 10%;
}
menu >a > li { 
  display: inline;
  
  right: 5px;
}
menu { float: right;}

#logo{
  width: 5%;
  display: inline;
}
#titulo{

  color: #704116;
  text-align: center;
  font-size: 700%;
  font-family: 'Beau Rivage', cursive;

}
#subtitulo {
  color: #704116;
  text-align: center;
  font-size: 300%;
  font-family: 'Open Sans', sans-serif;
}
#mision {
  color:#EFDED5;
  text-align: center;
  font-size: 300%;
  font-family: 'Beau Rivage', cursive; 
}


