h1{color: #704116}
/* esto es un comentario */
summary {color: #704116}

/*body{background-image:url("./images/WhatsApp\ Image\ 2022-01-11\ at\ 17.54.02\ \(7\).jpeg"),
    url("./images/atardecer\ ovejas\ 2.jpeg"), url("./images/foto\ tranquera\ 3.jpg");
    background-position: top left,center center,bottom right;
    background-size: 100%;
    background-repeat: no-repeat,no-repeat, repeat;
  } */
    
    /*height: 100vh;
    /* height: 100vh*, se rompe ´por el tipo de fondo/
    ;

    
/* fuentes (units), CON BACKGROUND POSITION  DE ESTA MANERA CADA IMAGEN QUEDA EN UNA POSITION ESPECIFICA
 Y CON BACKGROUND RREAPEAT HACES QUE NO SE SUPERPONGAN
 CON HEIGHT 100VH SE ADAPTA A CADA TIPO DE PANTALLLA (CELU, COMPU) */
 body{background-image:url("./images/WhatsApp\ Image\ 2022-01-11\ at\ 17.54.02\ \(7\).jpeg");
  background-color: #C6AA8F!important ;
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;

}
header { background-color:#EFDED5;
  list-style-type: none;
  position: sticky;
  position: -webkit-sticky;
  top:0%;
  height: 75px;
  /* STICKY ES ENTRE POSICION RELATIVA Y FIJA*/
}

#col-der{
  width: 95%;
  float: right;
}
#col-izq{ 
  width: 5%;
  float:left;
}

#Entrada-a-la-ventura{width: 10%; height:10%}
#mail {width:5%; height: 10%;
  position: fixed; 
  bottom:30px ; 
  right:20px  }
  /* CON FIXED SE FIJA A LA PANTALLA */

#titulo{

  color: #704116;
  text-align: center;
  font-size: 700%;
  font-family: 'Beau Rivage', cursive;

}
#subtitulo {
  color: #704116;
  text-align: center;
  font-size: 300%;
  font-family: 'Beau Rivage', cursive;
}
#mision {
  color:#EFDED5;
  text-align: center;
  font-size: 300%;
  font-family: 'Beau Rivage', cursive; 
}
#sobrenosotros{ 
  text-align:center;
  font-size: 400%;
  font-family: 'Beau Rivage', cursive;
}
#textoSN{ text-align:center;
  font-size: 170%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
menu >a > li { 
  display: inline;
  font-size: 150%;
  font-family: 'Open Sans', sans-serif;
  color:#704116
  ;
}
menu{text-align: center;}
/*display : inline-block

El elemento aparece en línea pero se comporta como un elemento block. 
Un elemento inline-block resulta muy útil cuando queremos dar una anchura al elemento. 
En el siguiente ejemplo la anchura del elemento inline-block es de 150px .
Cuando un elemento inline se encuentra entre dos elementos block, 
el elemento inline se comporta como un block anónimo, de mínima anchura */
#logo{
  width: 75px;
  display: inline;

}
#ModeloDeCaja{display: flex;
  font-size: 400%;
  justify-content: center;
  background-color: #EFDED5;
  width: 100%;
  border: 10px solid #704116;
  padding: 50px;
  margin: 20px;
  font-family: 'Beau Rivage', cursive;
}
/*#ModeloDeCaja2{
  display: flex;
  font-size: 100%;
  justify-content: center;
  background-color: #EFDED5;
  width: 100%;
  border: 10px solid #704116;
  padding: 50px;
  margin: 20px;
  font-family: 'Beau Rivage', cursive;
}
#colp1 {
  float: left;
  width: 33.33%;
  padding: 5px;
}
#colp2{
  float: left;
  width: 33.33%;
  padding: 5px;
}
#colp3 {
  float: left;
  width: 33.33%;
  padding: 5px;
}
#rowp {
  content: "";
  clear: both;
  display: table;
}*/
.productos{
  background-color: #EFDED5;
}

.productos__container{
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 1em;
  align-items: center;
}

.productos__body{
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
}


.productos__body--show{
  pointer-events: unset;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.productos__img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 30%;
}

.productos__texts{
  max-width: 700px;
}

.productos__course{
  background-color:#EFDED5;
  color: #704116;
  display: inline-block;
  padding: 5px;
}

.productos__arrow{
  width: 90%;
  cursor: pointer;
}


#campoclaro{ border: 10px solid #704116;
  padding: 0%;
  margin: 5%;
}
#patagonia{ border: 10px solid #704116;
  padding: 0%;
  margin: 5%;}
#molinera{ border: 10px solid #704116;
  padding: 0%;
  margin: 5%;}
#kontriras{ border: 10px solid #704116;
  padding: 0%;
  margin: 5%;}

#moo{
  border: 10px solid #704116;
  padding: 0%;
  margin: 5%;
width: 50%;
height: 40%;
}
#mayal{

  border: 10px solid #704116;
  padding: 0%;
  margin: 5%;
  width: 50%;
  height: 40%;
}


#nuestrosclientes{
  display: flex;
  font-size: 400%;
  justify-content: center;
  background-color: #EFDED5;
  width: 100%;
  border: 10px solid #704116;
  padding: 50px;
  margin: 20px;
  font-family: 'Beau Rivage', cursive;;
/*color: #EFDED5;
text-align: center;
font-size: 300% ;
font-family: 'Beau Rivage', cursive;*/
}
#Somosparte{
  display: flex;
  justify-content: center;
  font-size: 400%;
  background-color: #EFDED5;
  width: 100%;
  border: 10px solid #704116;
  padding: 50px;
  margin: 20px;
  font-family: 'Beau Rivage', cursive;;
/*color: #EFDED5;
text-align: center;
font-size: 300% ;
font-family: 'Open Sans', sans-serif;*/
}

#imgmapo{border: 10px solid #704116;
 }
#imgpo{border: 10px solid #704116;}